/**----------------------------------------
START: Theme Default CSS
----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /**
     @Font-Family Declaration
   */
  --sds-ff-body: 'Inter', sans-serif;
  --sds-ff-heading: 'Fraunces', serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  position: relative;
  overflow-x: hidden;
}

/**
  Typography CSS
*/
body {
  font-size: 18px;
  line-height: 30px;
  font-family: var(--sds-ff-body);
  color: #121212cc;
  font-weight: normal;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sds-ff-heading);
  color: #121212;
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2;
  transition: all 0.3s ease-in-out 0s;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 74px;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 54px;
}

h3 {
  font-size: 44px;
  font-weight: 900;
  line-height: 44px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}

h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

@media (max-width: 1399px) {
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 1199px) {
  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 34px;
    line-height: 34px;
  }
}

@media (max-width: 991px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 34px;
    line-height: 38px;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
  }

  h3 {
    font-size: 28px;
    line-height: 30px;
  }

  body {
    font-size: 15px;
    line-height: 26px;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: block;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

a,
.btn,
button,
span,
p,
input,
select,
textarea,
li,
img,
svg path,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus,
button:focus:not(:focus-visible) {
  outline: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

select,
.nice-select,
input:not([type=submit]):not([type=radio]):not([type=checkbox]),
textarea {
  outline: none;
  height: auto;
  width: 100%;
  color: #000000;
  border: none;
}

input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 50%;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--sds-color-theme-primary);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

*::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::-moz-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::placeholder {
  color: #ffffff;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

/**
 	Common Classes CSS
*/
img {
  max-width: 100%;
}

.w-img img {
  width: 100%;
}

.m-img img {
  max-width: 100%;
}

.fix {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-width {
  max-width: 1490px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/**
 	Button CSS
*/

.header-btn {
  position: relative;
  font-size: 18px;
  color: #ffffff;
  background: #EF4646;
  border-radius: 60px;
  padding: 14px 24px;
  overflow: hidden;
  z-index: 2;
  line-height: 1;
}

.header-btn span {
  position: relative;
  z-index: 2;
}

.header-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E93572;
  transform: scale(0);
  border-radius: 60px;
}

.header-btn:hover {
  color: #ffffff;
}

.header-btn:hover:before {
  transform: scale(1);
}

.primary-btn {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  background: #E93572;
  border-radius: 40px;
  padding: 21px 30px;
  text-align: center;
  overflow: hidden;
  z-index: 2;
  line-height: 1;
}

.primary-btn span {
  position: relative;
  z-index: 2;
}

.primary-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #315EFB;
  transform: scale(0);
  border-radius: 40px;
}

.primary-btn:hover {
  color: #ffffff;
}

.primary-btn:hover::before {
  transform: scale(1);
}

.secondary-btn {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  background: #315EFB;
  border-radius: 40px;
  padding: 21px 30px;
  text-align: center;
  overflow: hidden;
  z-index: 2;
  line-height: 1;
}

.secondary-btn span {
  position: relative;
  z-index: 2;
}

.secondary-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E93572;
  transform: scale(0);
  border-radius: 40px;
}

.secondary-btn:hover {
  color: #ffffff;
}

.secondary-btn:hover::before {
  transform: scale(1);
}

.view-btn {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  background: #E93572;
  border-radius: 40px;
  padding: 12px 20px;
  line-height: 1;
}

.view-btn:hover {
  color: #ffffff;
}

.white-btn {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  color: #121212;
  background: #ffffff;
  padding: 21px 30px;
  border-radius: 40px;
  overflow: hidden;
  z-index: 2;
  line-height: 1;
}

.white-btn span {
  position: relative;
  z-index: 2;
}

.white-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  transform: scale(0);
  border-radius: 40px;
}

.white-btn:hover {
  color: #ffffff;
}

.white-btn:hover:before {
  transform: scale(1);
}

@media (max-width: 767px) {
  .primary-btn {
    font-size: 16px;
    padding: 19px 30px;
  }

  .secondary-btn {
    font-size: 16px;
    padding: 19px 30px;
  }

  .white-btn {
    font-size: 16px;
    padding: 19px 30px;
  }
}

/* Header CSS */
.heading-area {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.heading-area .heading-desc {
  margin-top: 18px;
}

/**----------------------------------------
START: Header CSS
----------------------------------------*/
.header-area {
  position: relative;
  padding: 24px 0;
  border-bottom: 1px solid rgba(143, 133, 133, 0.1);
}

.header-area.header-absolute {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: transparent;
  transition: all 0.3s ease-in-out 0s;
}

.header-menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-menu-wrapper .header-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-menu-wrapper .header-item.left {
  flex: 1 1 0%;
}

.header-menu-wrapper .header-item.center {
  flex: 2 2 0%;
  justify-content: flex-end;
  word-break: break-word;
}

.header-menu-wrapper .header-item.right {
  flex: 1 1 0%;
  justify-content: flex-end;
}

.site-logo {
  max-width: 223px;
  width: 100%;
}

.site-logo a {
  display: inline-flex;
}

.site-logo a img {
  width: 100%;
}

.nav-menu-area ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 44px;
}

.nav-menu-area ul li a {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 16px;
  color: #121212;
}

@media (max-width: 1399px) {
  .nav-menu-area ul {
    column-gap: 30px;
  }
}

@media (max-width: 1199px) {
  .site-logo {
    max-width: 160px;
  }

  .nav-menu-area ul {
    column-gap: 15px;
  }
}

@media (max-width: 991px) {
  .header-area {
    padding: 10px 0;
  }

  .header-menu-wrapper .header-item.center {
    display: none;
  }
}

/* !END: Header CSS *

/**----------------------------------------
START: Hero CSS
----------------------------------------*/
.hero-section {
  padding-top: 183px;
  padding-bottom: 260px;
  position: relative;
  overflow: hidden;
}

.hero-section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(277.95deg, #FFFCF3 53.98%, #FCE7E0 99.52%);
  z-index: -1;
}

.hero-main-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 40px;
}

.hero-main-wrapper .hero-left-content {
  width: 44%;
}

.hero-main-wrapper .hero-left-content .hero-desc {
  font-weight: 500;
  margin-top: 30px;
  max-width: 595px;
  width: 100%;
}

.hero-main-wrapper .hero-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
  row-gap: 15px;
  margin-top: 91px;
}

.hero-images-group {
  display: flex;
  width: 50%;
}

.hero-images-group img {
  width: 100%;
}

.hero-sec-scroll {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  box-shadow: 0px 24px 54px 0px #5F5D5D21;
  border: 1px solid #EEE9DA;
  border-radius: 50%;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  scroll-behavior: smooth;
  z-index: 3;
}

.hero-sec-scroll .span {
  position: absolute;
  width: 20px;
  height: 1px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.hero-sec-scroll .span:first-child {
  animation: move 3s ease-out 1s infinite;
}

.hero-sec-scroll .span:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.hero-sec-scroll .span:before,
.hero-sec-scroll .span:after {
  content: "";
  position: absolute;
  top: -38px;
  height: 100%;
  width: 50%;
  background: #F05454;
}

.hero-sec-scroll .span:before {
  left: 0;
  transform: skew(0deg, 42deg);
}

.hero-sec-scroll .span:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -42deg);
}



.hero-main-wrapper .hero-group-box {
  position: relative;
  width: 50%;
  height: 560px;
}

.hero-main-wrapper .hero-group-box .shapes-1 {
  position: absolute;
  top: 10px;
  right: -60px;
  animation: shakeY 2.5s ease-in-out infinite;
}

.hero-main-wrapper .hero-group-box .shapes-2 {
  position: absolute;
  left: 95px;
  bottom: 40px;
  animation: shakeX 2.5s ease-in-out infinite;
}

.hero-main-wrapper .hero-group-box .shapes-3 {
  position: absolute;
  top: 40px;
  left: 80px;
  animation: rotateImg 6s infinite linear;
}

.hero-main-wrapper .hero-group-box .shapes-4 {
  position: absolute;
  left: 50px;
  bottom: 150px;
  animation: zoom-in-zoom-out 2s ease-out infinite;
}

.hero-main-wrapper .hero-group-box .shapes-5 {
  position: absolute;
  right: -12px;
  bottom: 150px;
  animation: shakeY 2.5s ease-in-out infinite;
}

.hero-main-wrapper .hero-group-box .mobile-shapes {
  display: none;
}

.hero-marquee-wrap:not(.is-active) .images-anim {
  display: none;
}

.hero-marquee-wrap .images-group {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: max-content;
  --desktop-movement-speed: 20s;
  --mobile-movement-speed: 11s;
  transform: rotate(-3deg);
}

.hero-marquee-wrap .images-group:last-child {
  position: relative;
  top: -10px;
  border-radius: 0 200px 0 0;
  overflow: hidden;
  transform: rotate(-3deg);
}

.hero-marquee-wrap .images-group-anim {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  padding-bottom: 11px;
}

.hero-marquee-wrap .images-group-anim.images-animate {
  will-change: transform;
  animation-direction: normal;
  animation-duration: var(--mobile-movement-speed);
  animation-timing-function: linear;
  animation-delay: var(--timing-base);
  animation-iteration-count: infinite;
  height: max-content;
}

.hero-marquee-wrap .images-group:nth-child(1) .images-group-anim,
.hero-marquee-wrap .images-group:nth-child(3) .images-group-anim {
  animation-name: animIamesUp;
}

.hero-marquee-wrap .images-group:nth-child(2) .images-group-anim {
  animation-name: animIamesBottom;
}

.hero-marquee-wrap .images-group.images-group--static:nth-child(1) {
  transform: translateY(-18%);
}

.hero-marquee-wrap .images-group.images-group--static:nth-child(2) {
  transform: translateY(0.1%);
}

.hero-marquee-wrap .images-group.images-group--static:nth-child(3) {
  transform: translateY(-27.5%);
}

.hero-marquee-wrap .marquee-item {
  position: relative;
  padding-top: 151.1%;
}

.hero-marquee-wrap .images-anim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: transform;
  transition-duration: var(--timing-base);
  transition-timing-function: var(--easing-ease-out);
  object-fit: cover;
  object-position: var(--img-pos);
}

.hero-marquee-wrap .images-group-anim.images-animate {
  animation-duration: var(--desktop-movement-speed);
}

.hero-marquee-wrap .images-anim-box {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  column-gap: 10px;
  max-width: 560px;
  width: 100%;
  height: 560px;
  border-radius: 0 0 0 200px;
  overflow: hidden;
}

.hero-marquee-wrap .images-anim-box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(149.09deg, #FEFBF8 3.12%, rgba(254, 251, 248, 0.65) 9.66%, rgba(254, 251, 248, 0) 49.99%, rgba(254, 251, 248, 0.62) 90.01%, #FEFBF8 94.22%);
  z-index: 1;

}

@media (max-width: 1399px) {
  .hero-main-wrapper .hero-left-content {
    width: 50%;
  }

  .hero-main-wrapper .hero-group-box .shapes-3 {
    left: -50px;
  }

  .hero-main-wrapper .hero-group-box .shapes-4 {
    left: -25px;
  }
}

@media (max-width: 1199px) {
  .hero-section {
    padding-top: 150px;
    padding-bottom: 180px;
  }

  .hero-marquee-wrap .images-anim-box {
    height: 466px;
  }

  .hero-main-wrapper .hero-button {
    margin-top: 50px;
  }
}

@media (max-width: 991px) {
  .hero-main-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .hero-main-wrapper .hero-left-content {
    width: 100%;
  }

  .hero-main-wrapper .hero-group-box {
    width: 100%;
  }

  .hero-marquee-wrap .images-anim-box {
    max-width: 100%;
  }

  .hero-main-wrapper .hero-left-content .hero-desc {
    max-width: 100%;
  }

  .hero-main-wrapper .hero-button {
    justify-content: center;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .hero-section {
    padding-top: 110px;
    padding-bottom: 54px;
  }

  .hero-main-wrapper .hero-left-content .hero-desc {
    font-weight: 400;
    margin-top: 12px;
    line-height: 23px;
  }

  .hero-main-wrapper .hero-button {
    margin-top: 24px;
  }

  .hero-marquee-wrap .images-anim-box {
    height: 320px;
  }

  .hero-marquee-wrap .images-anim-box {
    border-radius: 0 0 0 100px;
  }

  .hero-marquee-wrap .images-group:last-child {
    border-radius: 0 100px 0 0;
    top: -4px;
  }

  .hero-sec-scroll {
    display: none;
  }

  .hero-main-wrapper .hero-group-box .shapes-1 {
    top: 0;
    right: -15px;
    width: 140px;
  }

  .hero-main-wrapper .hero-group-box {
    height: 320px;
  }

  .hero-main-wrapper .hero-group-box .shapes-2,
  .hero-main-wrapper .hero-group-box .shapes-5,
  .hero-main-wrapper .hero-group-box .shapes-4,
  .hero-main-wrapper .hero-group-box .shapes-3 {
    display: none;
  }

  .hero-main-wrapper .hero-group-box .mobile-shapes {
    display: block;
    position: absolute;
    bottom: -10px;
    left: -15px;
    animation: shakeY 2.5s ease-in-out infinite;
  }
}

/* !END: Hero CSS *

/**----------------------------------------
START: Feature Tabs CSS
----------------------------------------*/
.feature-tabs-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #F9FDFF;
  border-radius: 80px;
  position: relative;
  margin-top: -118px;
  overflow: hidden;
}

.feature-tabs-section .heading-area {
  max-width: 695px;
  margin-bottom: 34px;
}

.tabs-main-wrapper .filter-box {
  margin-right: -20px;
}

.tabs-main-wrapper .demo-box .filter-sizer,
.tabs-main-wrapper .filter-box .filter-sizer {
  width: 33.33%;
}

.tabs-main-wrapper .demo-box .gutter-sizer,
.tabs-main-wrapper .filter-box .gutter-sizer {
  width: 0%;
}

.feature-item {
  position: relative;
  background-color: var(--tj-theme-accent-2);
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 50px;
  box-sizing: border-box;
  border: 1px solid #D7D7D7;
  border-radius: 28px;
}

.feature-item:nth-child(3n) {
  margin-right: 0;
}

.feature-item.overly-color-1 {
  background: linear-gradient(158.96deg, #FFFFFF 28.04%, #FFFFFF 77.65%, #FCD1CC 97.16%);

}

.feature-item.overly-color-2 {
  background: linear-gradient(136.15deg, #FFFFFF 15.5%, #FFFFFF 68.36%, #CCF2FC 96.36%);
}

.feature-item.overly-color-3 {
  background: linear-gradient(136.15deg, #FFFFFF 15.5%, rgba(255, 255, 255, 0) 55.38%, #FCF5CC 96.36%);
}

.feature-item.overly-color-4 {
  background: linear-gradient(150.58deg, #FFFFFF 24.92%, #FFFFFF 74.76%, #CCFCD5 96.85%);
}

.feature-item.overly-color-5 {
  background: linear-gradient(152.94deg, #FFFFFF 21.15%, #FFFFFF 70.68%, #FCCCF4 96.94%);
}

.feature-item.overly-color-6 {
  background: linear-gradient(161.5deg, #FFFFFF 24.04%, #FFFFFF 74.41%, #CCE2FC 97.27%);
}

.feature-item.overly-color-7 {
  background: linear-gradient(151.84deg, #FFFFFF 26.23%, #FFFFFF 72.35%, #FCE4CC 96.9%);
}

.feature-item.overly-color-8 {
  background: linear-gradient(153.77deg, #FFFFFF 24.83%, #FFFFFF 71.84%, #D3CCFC 96.97%);
}

.feature-item .feature-image {
  display: flex;
  position: relative;
}

.feature-item .feature-image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(152.97deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(6.50px);
  opacity: 0;
  visibility: hidden;
  border-radius: 27px 27px 0 0;
  z-index: 2;
}

.feature-item .feature-image img {
  width: 100%;
  border-radius: 28px 28px 0 0;
}

.feature-item .feature-header {
  border-top: 1px solid #E7E7E7;
  padding: 24px 34px 36px;
}

.feature-item .feature-image .feature-filter-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-in-out 0s;
  z-index: 2;
}

.feature-item:hover .feature-image::before {
  opacity: 1;
  visibility: visible;
}

.feature-item:hover .feature-image .feature-filter-button {
  transform: translate(-50%, -50%) scale(1);
}

.tabs-common-menu {
  text-align: center;
  margin-bottom: 52px;
}

.tabs-common-menu .filter-common-group {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  position: relative;
}

.tabs-common-menu .filter-common-group button {
  display: inline-block;
  position: relative;
  color: #121212;
  font-size: 17px;
  border: 1px solid #D7D7D7;
  padding: 11px 20px;
  border-radius: 30px;
  line-height: 1;
  z-index: 2;
}

.tabs-common-menu .filter-common-group button:hover {
  color: #ffffff;
  background-color: #F15A5A;
  border-color: #F15A5A;
}

.tabs-common-menu .filter-common-group button.active {
  color: #ffffff;
  background-color: #F15A5A;
  border-color: #F15A5A;
}

.feature-load-more-button {
  text-align: center;
}

@media (max-width: 767px) {
  .feature-tabs-section {
    padding-top: 54px;
    padding-bottom: 54px;
    border-radius: 0;
    margin-top: 0;
  }
}

/* !END: Feature Tabs CSS *

/**----------------------------------------
START: Fun Fact CSS
----------------------------------------*/
.counter-section {
  background-color: #FFFCF3;
  padding-top: 210px;
  padding-bottom: 195px;
  margin-top: -85px;
}

.counter-section .heading-area {
  max-width: 915px;
  margin-bottom: 34px;
}

.counter-section .heading-area .heading-desc {
  margin-top: 22px;
}

.counter-section .heading-area .heading-title .primary-color {
  color: #E93572;
  font-weight: 900;
}

.counter-section .heading-area .heading-desc {
  max-width: 735px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.counter-main-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 18px;
  row-gap: 18px;
  max-width: 1390px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.counter-item {
  background-color: #ffffff;
  box-shadow: 0px 21px 34px 0px #4B433A08;
  border: 1px solid #F8EBDD;
  padding: 73px 25px 82px;
  border-radius: 50px;
}

.counter-item .counter-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 73px;
  border-radius: 25px;
  background: rgba(182, 217, 255, 0.5);
  margin-bottom: 16px;
}

.counter-item:nth-child(2) .counter-icons {
  background: rgba(194, 182, 255, 0.5);
}

.counter-item:nth-child(3) .counter-icons {
  background: rgba(255, 182, 232, 0.5);
}

.counter-item:nth-child(4) .counter-icons {
  background: rgba(255, 215, 182, 0.5);
}

.counter-item .counter-text .count-number {
  display: block;
  color: #0D0D0D;
}

.counter-item .counter-text .count-number .stars {
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
}

.counter-item .counter-text .sub-title {
  display: block;
  color: #121212;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 7px;
}

@media (max-width: 1199px) {
  .counter-section {
    padding-top: 180px;
    padding-bottom: 175px;
  }

  .counter-item {
    padding: 50px 25px 55px;
  }

  .counter-item .counter-text .count-number .stars {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  .counter-section {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  .counter-main-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .counter-section {
    padding-top: 140px;
    padding-bottom: 54px;
  }

  .counter-section .heading-area {
    margin-bottom: 30px;
  }

  .counter-section .heading-area .heading-desc {
    margin-top: 15px;
  }

  .counter-item {
    padding: 30px 15px 36px;
    border-radius: 40px;
  }

  .counter-item .counter-icons {
    width: 60px;
    height: 60px;
    border-radius: 20px;
  }

  .counter-item .counter-text .count-number .stars {
    font-size: 18px;
  }

  .counter-item .counter-text .sub-title {
    font-size: 14px;
  }
}

/* !END: Fun Fact CSS *

/**----------------------------------------
START: Demo Tabs CSS
----------------------------------------*/
.demo-tabs-section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;
}

.demo-tabs-section .heading-area {
  max-width: 695px;
  margin-bottom: 42px;
}

.demo-tabs-section .heading-area .heading-desc {
  margin-top: 22px;
}

.demo-tabs-section .demo-load-more-button {
  text-align: center;
  margin-top: 20px;
}

.tabs-main-wrapper .demo-box {
  margin-right: -15px;
}

.demo-filter-item {
  position: relative;
  width: calc(33.33% - 15px);
  margin-right: 15px;
  margin-bottom: 45px;
  box-sizing: border-box;
  overflow: hidden;
}

.demo-filter-item .demo-images {
  display: flex;
  position: relative;
  max-width: 470px;
  width: 100%;
  margin-bottom: 23.35px;
}

.demo-filter-item .demo-images::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(152.97deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(6.50px);
  opacity: 0;
  visibility: hidden;
  border-radius: 25px;
  z-index: 2;
}

.demo-filter-item .demo-images img {
  max-width: 470px;
  width: 100%;
  height: 430px;
  object-fit: cover;
  border-radius: 25px;
}

.demo-filter-item .demo-images .demo-filter-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-in-out 0s;
  z-index: 2;
}

.demo-filter-item .demo-content {
  padding-right: 48px;
}

.demo-filter-item:hover .demo-images::before {
  opacity: 1;
  visibility: visible;
}

.demo-filter-item:hover .demo-images .demo-filter-button {
  transform: translate(-50%, -50%) scale(1);
}

.group-section {
  position: relative;
  background: #ffffff;
  border-radius: 80px;
  margin-top: -75px;
}

@media (max-width: 767px) {
  .group-section {
    border-radius: 0px;
    margin-top: 0px;
  }

  .demo-tabs-section {
    padding-top: 54px;
    padding-bottom: 54px;
  }
}

/* !END: Demo Tabs CSS *

/**----------------------------------------
START: Steps CSS
----------------------------------------*/
.steps-section {
  padding-bottom: 120px;
}

.steps-section .page-width {
  max-width: 1740px;
}

.steps-section .page-width .heading-area {
  max-width: 695px;
  margin-bottom: 31px;
}

.steps-section .page-width .heading-area .heading-title {
  color: #ffffff;
}

.steps-section .page-width .heading-area .heading-desc {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 22px;
}

.steps-main-wrapper {
  background: #E93572;
  border-radius: 80px;
  padding: 100px 125px 120px;
}

.steps-main-wrapper .steps-free-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 64px;
}

.steps-content-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 12px;
}

.steps-item {
  background: #ffffff;
  border: 1px solid #F8EBDD;
  border-radius: 50px;
  padding: 57px 40px 58px;
}

.steps-item .sub-title {
  display: inline-block;
  color: #ffffff;
  background: #E93572;
  font-family: var(--sds-ff-heading);
  font-size: 24px;
  font-weight: 600;
  padding: 6px 13px;
  border-radius: 16px 16px 16px 0;
  position: relative;
  line-height: 30px;
}

.steps-item .border-line {
  display: block;
  position: relative;
  border-bottom: 1px solid #E93572;
  width: 100%;
}

.steps-item .border-line::before {
  content: "";
  position: absolute;
  right: 0;
  top: -5px;
  width: 25px;
  height: 1px;
  background-color: #E93572;
  transform: rotate(25deg);
}

.steps-item .steps-title {
  padding-top: 27px;
}

.steps-item .steps-desc {
  margin-top: 17px;
  line-height: 26px;
}

@media (max-width: 1399px) {
  .steps-main-wrapper {
    padding: 100px 50px 120px;
  }

  .steps-item {
    padding: 57px 30px 58px;
  }
}

@media (max-width: 1199px) {
  .steps-section {
    padding-bottom: 100px;
  }

  .steps-main-wrapper {
    padding: 100px 50px 100px;
    border-radius: 50px;
  }
}

@media (max-width: 991px) {
  .steps-section {
    padding-bottom: 80px;
  }

  .steps-main-wrapper {
    padding: 80px 30px 80px;
    border-radius: 40px;
  }

  .steps-content-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .steps-section {
    padding-bottom: 51px;
  }

  .steps-section .page-width {
    padding-left: 0px;
    padding-right: 0px;
  }

  .steps-section .page-width .heading-area {
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 30px;
  }

  .steps-section .page-width .heading-area .heading-desc {
    font-size: 15px;
    line-height: 23px;
    margin-top: 14px;
  }

  .steps-main-wrapper {
    border-radius: 0px;
    padding: 54px 15px 55px;
  }

  .steps-content-wrap {
    grid-template-columns: repeat(1, 1fr);
  }

  .steps-item {
    border-radius: 40px;
    padding: 33px 26px 36px;
  }

  .steps-item .steps-desc {
    margin-top: 12px;
  }

  .steps-main-wrapper .steps-free-button {
    margin-top: 32px;
  }
}

/* !END: Steps CSS *

/**----------------------------------------
START: Pricing Table CSS
----------------------------------------*/
.pricing-table-section {
  padding-bottom: 120px;
}

.pricing-table-section .heading-area {
  max-width: 520px;
  margin-bottom: 39px;
}

.pricing-table-section .heading-area .heading-desc {
  margin-top: 22px;
}

.pricing-table-main-wrapper {
  background: #ffffff;
  padding: 25px 25px;
  border-radius: 30px;
  box-shadow: 0px 4px 26px 0px #3F352814;
  overflow: hidden;
}

.pricing-table-main-wrapper table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.pricing-table-main-wrapper table td,
.pricing-table-main-wrapper table th {
  text-align: left;
}

.pricing-table-main-wrapper table th {
  color: #121212;
  font-weight: 600;
  font-size: 22px;
  font-family: var(--sds-ff-body);
  background-color: #F3F6FA;
  padding: 19px 25px;
}

.pricing-table-main-wrapper table td {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--sds-ff-body);
  color: #121212;
  padding: 15px 25px;
}

.pricing-table-main-wrapper table td:first-child {
  font-weight: 500;
  text-align: left;
  border-radius: 12px 0 0 12px;
}

.pricing-table-main-wrapper table td:last-child {
  border-radius: 0 12px 12px 0;
}

.pricing-table-main-wrapper table th:first-child {
  border-radius: 12px 0 0 12px;
  text-align: left;
}

.pricing-table-main-wrapper table td span {
  display: flex;
}

.pricing-table-main-wrapper table th:last-child {
  border-radius: 0 12px 12px 0;
}

.pricing-table-main-wrapper table tr {
  background-color: #F3F6FA;
}

.pricing-table-main-wrapper table tr:nth-child(even) {
  background-color: #ffffff;
}

.pricing-table-section .table-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

@media (max-width: 1199px) {
  .pricing-table-section {
    padding-bottom: 100px;
  }

  .pricing-table-main-wrapper table td {
    padding: 15px 12px;
  }

  .pricing-table-main-wrapper table td:first-child {
    padding: 15px 10px 15px 25px;
  }

  .pricing-table-section .table-button {
    margin-top: 55px;
  }
}

@media (max-width: 991px) {
  .pricing-table-section {
    padding-bottom: 80px;
  }

  .pricing-table-main-wrapper table {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: inherit;
    white-space: nowrap;
    scrollbar-color: rgba(18, 18, 18, 0.5) rgba(18, 18, 18, 0.5);
    scrollbar-width: thin;
  }

  .pricing-table-section .table-button {
    margin-top: 50px;
  }

  .pricing-table-main-wrapper table td {
    padding: 15px 25px;
  }
}

@media (max-width: 767px) {
  .pricing-table-section {
    padding-bottom: 54px;
  }

  .pricing-table-section .table-button {
    margin-top: 45px;
  }

  .pricing-table-main-wrapper table th {
    padding: 21px 20px;
  }

  .pricing-table-section .pricing-table-main-wrapper table td {
    padding: 17px 20px;
  }

}

/* !END: Pricing Table CSS *

/**----------------------------------------
START: FAQ CSS
----------------------------------------*/
.faq-section {
  padding-top: 195px;
  padding-bottom: 195px;
  background-color: #FFFCF3;
  margin-top: -75px;
}

.faq-section .heading-area {
  text-align: left;
}

.faq-section .heading-area .sub-title {
  display: flex;
  align-items: center;
  column-gap: 7px;
  margin-bottom: 16px;
}

.faq-section .heading-area .heading-title {
  line-height: 64px;
}

.faq-main-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  column-gap: 60px;
  row-gap: 30px;
  justify-content: space-between;
}

.faq-main-wrapper .faq-left-content {
  width: 39%;
}

.faq-main-wrapper .faq-left-content .faq-thumb {
  display: flex;
  position: relative;
  margin-top: 32px;
  overflow: hidden;
}

.faq-main-wrapper .faq-left-content .faq-thumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(244.8deg, rgba(255, 255, 255, 0) 8.72%, #FFF4F4 85.46%);
}

.faq-main-wrapper .accordion-wrap {
  width: 56%;
}

.accordion-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion-item .faq-title {
  font-size: 24px;
  color: #121212;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.48px;
  padding: 25px 70px 25px 0;
  width: 100%;
  text-align: left;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}

.accordion-item .faq-title::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  position: absolute;
  content: "+";
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  font-size: 20px;
  color: #ffffff;
  background: #121212;
  border-radius: 50%;
  transition: all 0.3s ease-in-out 0s;
}

.accordion-item.active .faq-title::before {
  content: "−";
  background: #E93572;
}

.accordion-item .faq-text {
  display: block;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.accordion-item .faq-text p {
  font-size: 16px;
  line-height: 24px;
  padding: 0 140px 24px 0;
}

@media (max-width: 1399px) {
  .faq-main-wrapper {
    column-gap: 30px;
  }

  .faq-main-wrapper .faq-left-content {
    width: 45%;
  }

  .faq-main-wrapper .accordion-wrap {
    width: 52%;
  }

  .accordion-item .faq-title {
    padding: 22px 70px 22px 0;
    letter-spacing: 0px;
  }
}

@media (max-width: 1199px) {
  .faq-section {
    padding-top: 160px;
    padding-bottom: 160px;
    margin-top: -75px;
  }

  .faq-main-wrapper .accordion-wrap {
    width: 51%;
  }

  .accordion-item .faq-title {
    font-size: 20px;
    padding: 18px 70px 18px 0;
  }

  .accordion-item .faq-text p {
    padding: 0 75px 24px 0;
  }
}

@media (max-width: 991px) {
  .faq-section .heading-area .heading-title {
    line-height: 54px;
  }

  .faq-main-wrapper .accordion-wrap,
  .faq-main-wrapper .faq-left-content {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .faq-section {
    padding-top: 54px;
    padding-bottom: 54px;
    margin-top: 0px;
  }

  .faq-section .heading-area {
    text-align: center;
  }

  .faq-section .heading-area .sub-title {
    justify-content: center;
    margin-bottom: 11px;
  }

  .faq-section .heading-area .heading-title {
    line-height: 36px;
  }

  .faq-main-wrapper {
    row-gap: 20px;
  }

  .accordion-item .faq-title {
    font-size: 18px;
    padding: 12px 35px 12px 0;
    line-height: 30px;
  }

  .accordion-item .faq-title::before {
    width: 28px;
    height: 28px;
    right: 0;
    font-size: 18px;
    top: 13px;
    transform: translateY(0);
  }

  .accordion-item .faq-text p {
    padding: 0 0px 24px 0;
  }
}

/* !END: FAQ CSS *

/**----------------------------------------
START: Testimonial CSS
----------------------------------------*/
.testimonial-section {
  padding-top: 90px;
  padding-bottom: 94px;
  border-radius: 80px 80px 0 0;
  background-color: #ffffff;
  margin-top: -75px;
}

.testimonial-section .swiper-wrapper {
  align-items: center;
}

.testimonial-section .heading-area {
  margin-bottom: 57px;
}

.testimonial-section .heading-area .sub-title {
  font-size: 16px;
  line-height: 28px;
}

.testimonial-main-wrapper .testimonial-slider {
  padding-bottom: 84px;
}

.testimonial-main-wrapper .swiper-pagination {
  color: #121212;
  font-weight: 500;
  font-size: 18px;
}

.testimonial-main-wrapper .swiper-button-next,
.testimonial-main-wrapper .swiper-button-prev {
  width: 50px;
  height: 50px;
  background: #121212;
  top: 28%;
  border-radius: 13px;
  overflow: hidden;
  transition: all 0.2s ease-in-out 0s;
  left: 0;
}

.testimonial-main-wrapper .swiper-button-next {
  left: auto;
  right: 0;
}

.testimonial-main-wrapper .swiper-button-next::before,
.testimonial-main-wrapper .swiper-button-prev::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #E93572;
  transform: scale(0);
}

.testimonial-main-wrapper .swiper-button-next:hover::before,
.testimonial-main-wrapper .swiper-button-prev:hover::before {
  transform: scale(1);
}

.testimonial-main-wrapper .swiper-button-next::after,
.testimonial-main-wrapper .swiper-button-prev::after {
  color: #ffffff;
  font-size: 14px;
  z-index: 2;
}

.testimonial-item {
  max-width: 895px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.testimonial-item .testimonial-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  row-gap: 6px;
  margin-bottom: 30px;
  line-height: 1;
}

.testimonial-item .testimonial-rating span {
  display: flex;
}

.testimonial-item .testimonial-desc {
  color: #121212;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 32px;
}

.testimonial-item .testimonial-infos .author-thumb {
  display: inline-block;
  width: 66px;
  height: 66px;
  margin-bottom: 10px;
}

.testimonial-item .testimonial-infos .author-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-item .testimonial-infos .testimonial-author .author-name {
  color: #121212;
  font-size: 16px;
  font-family: var(--sds-ff-body);
  font-weight: 500;
  line-height: 28px;
}

.testimonial-item .testimonial-infos .testimonial-author .description {
  display: block;
  color: #121212;
  font-size: 16px;
  line-height: 28px;
}

@media (max-width: 1199px) {
  .testimonial-item {
    max-width: 820px;
  }
}

@media (max-width: 991px) {
  .testimonial-section {
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 50px 50px 0 0;
  }

  .testimonial-section .heading-area {
    margin-bottom: 40px;
  }

  .testimonial-item {
    max-width: 600px;
  }
}

@media (max-width: 767px) {
  .testimonial-section {
    padding-top: 44px;
    padding-bottom: 58px;
    border-radius: 0;
    margin-top: 0;
  }

  .testimonial-main-wrapper .testimonial-slider {
    padding-bottom: 74px;
  }

  .testimonial-main-wrapper .swiper-button-next,
  .testimonial-main-wrapper .swiper-button-prev {
    display: none;
  }

  .testimonial-section .heading-area {
    margin-bottom: 25px;
  }

  .testimonial-item .testimonial-rating {
    margin-bottom: 25px;
  }

  .testimonial-item .testimonial-desc {
    font-size: 18px;
    line-height: 30px;
  }
}

/* !END: Testimonial CSS *

/* KeyFrames CSS */
@keyframes move {
  25% {
    opacity: 1;

  }

  33% {
    opacity: 1;
    transform: translateY(30px);
  }

  67% {
    opacity: 1;
    transform: translateY(40px);
  }

  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes animIamesUp {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes animIamesBottom {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes rotateImg {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shakeY {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes shakeX {
  0% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(10px);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}